amqp==2.6.1
asgiref==3.3.4
astroid==2.5.6
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
boto3==1.17.105
botocore==1.20.105
cachetools==4.2.2
celery==4.4.1
certifi==2021.5.30
chardet==3.0.4
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
distlib==0.3.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.6
django-autoslug==1.9.7
django-braces==1.8.1
django-cleanup==5.2.0
django-cors-headers==3.0.2
django-crispy-forms==1.12.0
django-embed-video==1.3.3
django-redis==4.11.0
django-storages==1.9.1
django-taggit==1.1.0
django-taggit-serializer==0.1.7
django-termsandconditions==1.2.15
django-user-visit==0.4.1
Django-Verify-Email==1.0.7
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.3
djangorestframework==3.11.2
filelock==3.0.12
future==0.18.2
google-api-python-client==1.7.4
google-auth==1.32.1
google-auth-httplib2==0.1.0
gunicorn==20.0.4
httplib2==0.19.1
idna==2.10
img2pdf==0.4.1
isort==5.9.1
jmespath==0.10.0
joblib==1.0.1
kombu==4.6.11
lazy-object-proxy==1.6.0
lxml==4.6.3
Markdown==3.1.1
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.3
numpy==1.19.5
olefile==0.46
opencv-python==4.5.2.54
pandas==1.1.5
pikepdf==2.13.0
Pillow==8.1.1
platformdirs==2.0.2
psycopg2==2.8.5
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
Pygments==2.7.4
pylint==2.8.3
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-dateutil==2.8.1
python-decouple==3.4
python3-memcached==1.51
PyTweening==1.0.3
pytz==2021.1
pywhatkit==4.9
redis==3.4.1
requests==2.23.0
rsa==4.7.2
s3transfer==0.4.2
scikit-learn==0.24.1
scipy==1.5.4
selenium==3.141.0
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
sqlparse==0.4.1
static-ranges==0.2.0
static3==0.7.0
threadpoolctl==2.1.0
toml==0.10.2
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.25.11
user-agents==2.2.0
vine==1.3.0
virtualenv==20.6.0
webdriver-manager==3.4.2
whitenoise==5.1.0
wikipedia==1.4.0
wrapt==1.12.1
